{% extends 'base.html.twig' %}

{% block title %} - Nouvelle évaluation {% endblock %} 
{% form_theme form _self %}

{% block header %}
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Nouvelle évaluation</h1>
        <h3 class="display-7" style="text-align: center">{{ group.0.groupes }} ({{group.0.ecole}})</h3>
    </header>
{% endblock %}

{% block scripts %}
    <script src="/JS/main.js"></script>
{% endblock %}

{% block container %}
<div class="row row d-flex justify-content-center">
    <div class="col-md-8">
        <div class="jumbotron text-center" style="font-size: 1.3em;">
            {{form_start(form)}}
            {{form_end(form)}}
        </div>
    </div>    
</div>
{% endblock %}

{% block _new_evaluation_cours_evaluations_widget %}
<div class="jumbotron" style="font-size: 1.3em;">

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %} 
    <br>      
    {{form_widget(form)}}
    <div class="form-group text-center">
        <button type="button" id="addEvaluation" class="btn btn-primary">Ajoutez une évaluation !</button>
    </div>
</div>    
{% endblock %}

{% block _new_evaluation_cours_evaluations_entry_widget %}
    <div class="form-row d-flex justify-content-center" id="block_{{id}}">
        <div class="col-md-8">
           {{form_widget(form.heuresCompetence)}}
        </div>
        <div class="col-md-3">
            {{form_widget(form.competences)}}
        </div>
        <div class="col-md-1">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
        </div>
    </div>
{% endblock %}