{% extends 'base.html.twig' %}

{% block title %} - Création des périodes {% endblock %} 

{% form_theme form _self %}

{% block header %}
{% endblock %}

{% block scripts %}
    <script src="/JS/main.js"></script>
{% endblock %}

{% block container %}
<div class="jumbotron text-center" style="font-size: 1.3em;">
    <div class="text-center">
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
</div>   
{% endblock %}   
{% block _group_periode_periodes_widget %}
    <div class="jumbotron" style="font-size: 1.3em;">
    <div class="row justify-content-center">
         <h3 class="display-3">Créez vos périodes !</h3>
    </div> 
    
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    
    <br>      
        {{form_widget(form)}}    
    <div class="form-group text-center">
        <button type="button" id="addPeriodes" class="btn btn-primary">Ajoutez une période !</button>
    </div>
</div>    
{% endblock %}
{% block _group_periode_periodes_entry_widget %}
    <div class="form-row d-flex justify-content-center" id="block_{{id}}">
        <div class="col-md-3">
            {{form_widget(form.nomPeriode)}}
        </div>
        <div class="col-md-3">
            {{form_widget(form.pourcentage)}}
        </div>
        <div class="col-md-1">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
        </div>
    </div>
{% endblock %}

