{% extends 'base.html.twig' %}

{% block title %} -Journal de classe {% endblock %}

{% block header %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Journal de classe</h1>
    </header>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/CSS/scripts/editable.css">
{% endblock %}

{% block scripts %}
    <script src="/JS/scripts/editable.js"></script>
    <script src="/JS/main.js"></script>
    <script>
        $(document).ready(function(){
            $('#table p').editable();
        });
    </script>
{% endblock %}
{% block container %}
<div class="journal">
    <div class="jumbotron" style="font-size: 1.3em;">
        <div class="table-responsive">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Classe</th>
                        {% for key, value in cours %}
                            {% set dateCours = date(value.dateCours.date) %}
                            <td colspan="2" class="text-center">{{value.intitule}} {{dateCours | date('d-m-Y')}}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in eleves %}
                        {% for key, val in value %}
                            <tr>
                                <td>{{val.nom}}</td>
                                <td>{{val.prenom}}</td>
                                <td>{{val.classe.nomClasse}}</td>
                                {% for key, value in cours %}
                                    <td><p data-pk="{{value.id}}" data-url="{{path('modif_points')}}" data-name="{{val.id}}">0</p></td>
                                    <td>
                                        <select name="presence" id="presence" onchange="presenceEleve()"class="custom-select">
                                            <option value="{'coursId': {{value.id}}, 'eleveId': {{val.id}}, 'value': 'present'}">Present</option>
                                            <option value="{'coursId': {{value.id}}, 'eleveId': {{val.id}}, 'value': 'abs'}">Absent</option>
                                            <option value="{'coursId': {{value.id}}, 'eleveId': {{val.id}}, 'value': 'cm'}">Certificat médical</option>
                                            <option value="{'coursId': {{value.id}}, 'eleveId': {{val.id}}, 'value': 'tshirt'}">Oubli t-shirt</option>
                                        </select>
                                    </td>    
                                {% endfor %}   
                            </tr> 
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}