{% extends 'base.html.twig' %}

{% block title %} -Journal de classe {% endblock %}

{% block header %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Journal de classe</h1>
        <h3 class="display-7" style="text-align: center">{{ecole.0.ecole.nomEcole}}</h3>
    </header>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/CSS/scripts/editable.css">
{% endblock %}

{% block scripts %}
    <script src="/JS/scripts/editable.js"></script>
    <script src="/JS/main.js"></script>
    <script>
        $(document).ready(function(){
            $('#table span').editable();
        });
    </script>
{% endblock %}
{% block container %}
<div class="journal">
    <div class="jumbotron" style="font-size: 1.3em;">
        <div class="table-responsive">
            <div class="row d-flex justify-content-center">
                <h3 class="display-7" style="text-align: center">Choisissez le groupe: </h3>
                <select name="groups" id="groups" class="custom-select col-md-6" onchange="window.location.href=this.value">
                    <option value="#"></option>
                    {% for key, value in groups %}
                        <optgroup label="{{value.ecole}}">
                            <option value="{{path('journal_de_classe', {idGroup: value.groups_id})}}">{{value.groupes}}</option>
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Classe</th>
                        {% for key, value in cours %}
                            {% set dateCours = date(value.dateCours.date) %}
                            <td colspan="2" class="text-center">{{value.intitule}} 
                                <p>
                                    <span data-pk="{{value.id}}" data-url="{{path('modif_date')}}" data-name="cours"> {{dateCours | date('d-m-Y')}}</span>
                                </p>
                                <small>Heures: </small>
                                <p>
                                    <span data-pk="{{value.id}}" data-url="{{path('modif_heures')}}" data-name="heures">{{value.nombreHeures}}</span>
                                </p>
                            </td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in eleves %}
                        {% for key, val in value %}
                            <tr>
                                <td>{{val.nom}}</td>
                                <td>{{val.prenom}}</td>
                                <td>{{val.classe.nomClasse}}</td>
                                {% for key, value in cours %}
                                        <td><span data-pk="{{value.id}}" data-url="{{path('modif_points')}}" data-name="{{val.id}}">{{value.id}}</span></td>                                    
                                    <td>
                                        <select name="presence" id="presence" onchange="presenceEleve()" class="custom-select">
                                            <option value="{{value.id}},{{val.id}},Present">Present</option>
                                            <option value="{{value.id}},{{val.id}},Absent">Absent</option>
                                            <option value="{{value.id}},{{val.id}},Certificat médical">Certificat médical</option>
                                            <option value="{{value.id}},{{val.id}},Oubli t-shirt">Oubli t-shirt</option>
                                        </select>
                                    </td>    
                                {% endfor %}   
                            </tr> 
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}