{% extends 'base.html.twig' %}

{% block title %} -Journal de classe {% endblock %}

{% block header %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Journal de classe</h1>
        <h3 class="display-7" style="text-align: center">{{ecole.0.ecole.nomEcole}}</h3>
    </header>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/CSS/scripts/editable.css">
{% endblock %}

{% block scripts %}
    <script src="/JS/scripts/editable.js"></script>
    <script src="/JS/main.js"></script>
    <script>
        $(document).ready(function(){
            $('#tableJournal span').editable();
            $('#tablePeriode span').editable();
        });
    </script>
{% endblock %}
{% block container %}
<div class="journal">
    <div class="jumbotron" style="font-size: 1.3em;">
    <h3 class="display-7" style="text-align: center">Pourcentage d'évaluation</h3>
        <div class="row d-flex justify-content-center">
            <a href="{{path('new_periode', {idGroup: eleves.0.0.0.classe.groups.id})}}">Ajouter les périodes</a>
            
            <table class="table" id="tablePeriode">
                <thead>
                    <tr>
                        {% for key, value in periodes %}
                            <th>{{value.nomPeriode}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for key, value in periodes %}
                            <td>
                                <span data-pk="{{value.id}}" data-url="{{path('modif_periode')}}" data-name="periode"> {{value.pourcentage}} </span>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="jumbotron" style="font-size: 1.3em;">
        <div class="table-responsive">
            <div class="row d-flex justify-content-center">
                <h3 class="display-7" style="text-align: center">Choisissez le groupe: </h3>
                <select name="groups" id="groups" class="custom-select col-md-6" onchange="window.location.href=this.value">
                    <option value="#"></option>
                    {% for key, value in groups %}
                        <optgroup label="{{value.ecole}}">
                            <option value="{{path('journal_de_classe', {idGroup: value.groups_id})}}">{{value.groupes}}</option>
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
            <br>
            <table class="table" id="tableJournal">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Classe</th>
                        {% for key, value in eleves.0.0.0.coursGroupes|sort((a, b) => a.coursId.dateCours <=> b.coursId.dateCours) %}                           
                            {% set dateCours = date(value.coursId.dateCours.date) %}
                            <td colspan="2" class="text-center">
                                {{value.coursId.intitule}} 
                                <p>
                                    <span data-pk="{{value.coursId.id}}" data-url="{{path('modif_date')}}" data-name="cours"> {{dateCours | date('d-m-Y')}}</span>
                                </p>
                                <small>Heures: </small>
                                <p>
                                    <span data-pk="{{value.coursId.id}}" data-url="{{path('modif_heures')}}" data-name="heures">{{value.coursId.nombreHeures}}</span>
                                </p>
                            </td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody> 
                    {% for key, value in eleves %}
                        <tr>
                            {% for key, val in value %}
                                <td>{{val.nom}}</td>
                                <td>{{val.prenom}}</td>
                                <td>{{val.classe.nomClasse}}</td>       
                                {% for key, value in val.coursGroupes|sort((a, b) => a.coursId.dateCours <=> b.coursId.dateCours) %}
                                    <td>
                                        <span data-pk="{{value.coursId.id}}" data-url="{{path('modif_points')}}" data-name="{{val.id}}">{{value.points}}</span>
                                    </td>
                                    <td>
                                        <select name="presence" id="presence" onchange="presenceEleve(this)" class="custom-select">
                                            {% if value.presence != "Present" %}
                                                <option value="{{value.coursId.id}},{{val.id}},{{value.presence}}" selected>{{value.presence}}</option>
                                            {% endif %}
                                            <option value="{{value.coursId.id}},{{val.id}},Present">Present</option>
                                            <option value="{{value.coursId.id}},{{val.id}},Absent">Absent</option>
                                            <option value="{{value.coursId.id}},{{val.id}},Certificat médical">Certificat médical</option>
                                            <option value="{{value.coursId.id}},{{val.id}},Oubli t-shirt">Oubli t-shirt</option>
                                        </select>
                                    </td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}                   
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}