{% extends 'base.html.twig' %}

{% block title %} -Journal de classe {% endblock %}

{% block header %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Journal de classe</h1>
    </header>
{% endblock %}

{% block container %}
<div class="journal">
    <div class="jumbotron" style="font-size: 1.3em;">
        <div class="table-responsive">
            <table border="1" class="table">
                <thead>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Classe</th>
                    {% for key, value in cours %}
                        {% set dateCours = date(value.dateCours.date) %}
                        <td colspan="2">{{value.intitule}} {{dateCours | date('d-m-Y')}}</td>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for key, value in eleves %}
                        {% for key, value in value %}
                            <tr>
                            <td>{{value.nom}}</td>
                            <td>{{value.prenom}}</td>
                            <td>{{value.classe.nomClasse}}</td>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}