{% extends 'base.html.twig' %}
{% block title %} -Mes classes {% endblock %} 
{% block header %}
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Mes classes</h1>
    </header>
{% endblock %}
{% block container %}
<div class="mesClasses">
    <div class="jumbotron" style="font-size: 1.3em;">
        <div class="text-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
            <h3 class="display-3">Vos classes</h3> 
            <br>
            <a href="{{path('newClass')}}" class="btn btn-primary btn-lg">Créer une nouvelle classe</a>
        </div>
        <br>
        <div style="text-align: center">
            <ul class="list-group">    
                {% for key, value in classes|sort((a, b) => a.ecole.nomEcole <=> b.ecole.nomEcole) %}               
                    <li class="list-group-item">
                        <a href="{{path("class", {nomEcole: value.ecole.nomEcole, nomClasse: value.nomClasse})}}">{{ value.nomClasse|upper }} ({{value.ecole.nomEcole}})</a> 
                    </li>                   
                {% endfor %}
            </ul>    
        </div>
    </div>
</div>
{% endblock %}