{% extends 'base.html.twig' %}

{% block title %} -Cahier de cotes {% endblock %}

{% block header %} {% endblock %}

{% block container %}
    <div class="jumbotron" style="font-size: 1.3em;">
        <h3 class="display-7" style="text-align: center">Cahier de côtes</h3>
        <h5 class="display-10" style="text-align: center">{{ecole.0.ecole.nomEcole}}</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Classe</th>
                        <th>Moyenne</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, val in eleves %}                                                  
                        <tr>
                            <td id="nombreEleve">{{loop.index}}</td>
                            <td id="nom">{{val.nom}}</td>
                            <td id="prenom">{{val.prenom}}</td>
                            <td>{{val.classe.nomClasse}}</td>  
                            <td></td> 
                        </tr>                                                                         
                    {% endfor %}    
                </tbody>
            </table>
        </div>       
    </div> 

<div class="jumbotron" style="font-size: 1.3em;">
    <h3 class="display-7" style="text-align: center">Pourcentage des périodes pour le travail journalier et evaluation</h3>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row d-flex justify-content-center">        
        <a href="{{path('new_periode', {group: eleves.0.0.classe.groups.id})}}">Ajouter les périodes</a>
        <table class="table" id="tablePeriode">
            <thead>
                <tr>
                    <th>Type</th>
                    {% for key, value in periodes %}
                        <th>{{value.nomPeriode}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cours</td>
                    {% for key, value in periodes %}
                        {% if eleves.0.0.classe.groups.calculAutomatique == 0 %}
                            <td>
                                <span data-pk="{{value.id}}" data-url="{{path('modif_periode')}}" data-name="periode"> {{value.pourcentageCours}} </span>%
                            </td>
                        {% else %}
                            <td>{{value.pourcentageCours|number_format(2)}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Evaluations</td>
                    {% for key, value in periodes %}
                        {% if eleves.0.0.classe.groups.calculAutomatique == 0 %}
                            <td>
                                <span data-pk="{{value.id}}" data-url="{{path('modif_periode')}}" data-name="periode"> {{value.pourcentageEval}} </span>%
                            </td>
                        {% else %}
                            <td>{{value.pourcentageEval|number_format(2)}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>  
<div class="jumbotron my-4">
    <h5 class="display-7" style="text-align: center">Changez le groupe: </h3>
    <div class="row d-flex justify-content-center">
        <select name="groups" id="groups" class="custom-select col-md-6" onchange="window.location.href=this.value">
            <option value="#"></option>
            {% for key, value in groups %}
                <optgroup label="{{value.ecole}}">
                    <option value="{{path('cahier_cotes', {idGroup: value.groups_id})}}">{{value.groupes}}</option>
                </optgroup>
            {% endfor %}
        </select>
    </div>
</div> 
{% endblock %}