{% extends 'base.html.twig' %}

{% block title %} -Cahier de cotes {% endblock %}

{% block header %} {% endblock %}

{% block container %}
    <div class="jumbotron" style="font-size: 1.3em;">
        <h3 class="display-7" style="text-align: center">Cahier de côtes</h3>
        <h5 class="display-10" style="text-align: center"></h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Classe</th>
                        {% for cle, valeur in eleves.0.moyennePeriodeCours %}
                            {% for k,v in valeur %}
                                <th>
                                    {{k}}
                                </th>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, val in eleves %}                                                  
                        <tr>
                            <td id="nombreEleve">{{loop.index}}</td>
                            <td id="nom">{{val.nom}}</td>
                            <td id="prenom">{{val.prenom}}</td>
                            <td>{{val.classe.nomClasse}}</td>  
                            {% for cle, valeur in val.moyennePeriodeCours %}
                                {% for k,v in valeur %}
                                    <td>
                                        {{v}}
                                    </td> 
                                {% endfor %}
                            {% endfor %}
                        </tr>                                                                         
                    {% endfor %}    
                </tbody>
            </table>
        </div>       
    </div> 

<div class="jumbotron" style="font-size: 1.3em;">
    <h3 class="display-7" style="text-align: center">Pourcentage des périodes pour le travail journalier et evaluation</h3>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="table-responsive">       
        <table class="table" id="tablePeriode">
            <thead>
                <tr>
                    <th>Type</th>
                    {% for key, value in moyennePeriodes %}
                        <th>{{key}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Travail Journalier</td>
                    {% for key, value in moyennePeriodes %}
                        <td>{{value|number_format(2)}} %</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <div class="row d-flex justify-content-center">                     
            <button id="detailsEval" class="btn btn-info" onclick="$('#detailsCompetence').collapse('hide')" data-toggle="collapse" data-target="#detailsEvaluation" aria-expanded="false" aria-controls="detailsEvaluation" style="font-size: 0.7em;">Détails des champs </button>    
        </div>
        <br>
        <div class="row d-flex justify-content-center">                     
            <button id="detailsComp" class="btn btn-info" onclick="$('#detailsEvaluation').collapse('hide')" data-toggle="collapse" data-target="#detailsCompetence" aria-expanded="false" aria-controls="detailsCompetence" style="font-size: 0.7em;">Détails des compétences </button>    
        </div>
        <br>
        <div id="detailsEvaluation" class="collapse">  
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Champs</th>
                      
                        {% for key, value in moyenneChampPeriode %}
                            {% if loop.first %}
                                {% for cle, valeur in value %}
                                    <th>{{cle}}</th>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for key, value in moyenneChampPeriode %}
                            <tr>
                            <td>{{key}}</td>
                                {% for cle, valeur in value %}               
                                    <td>{{valeur|number_format(2)}} %</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
        <div id="detailsCompetence" class="collapse">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Compétences</th>
                      
                        {% for key, value in moyenneCompetence %}
                            {% if loop.first %}
                                {% for cle, valeur in value %}
                                    <th>{{cle}}</th>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for key, value in moyenneCompetence %}
                            <tr>
                            <td>{{key}}</td>
                                {% for cle, valeur in value %}               
                                    <td>{{valeur|number_format(2)}} %</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 
<div class="jumbotron" style="font-size: 1.3em;">
    <h3 class="display-7" style="text-align: center">Pourcentage des semestres pour le travail journalier et evaluation</h3>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="table-responsive">       
        <table class="table" id="tablePeriode">
            <thead>
                <th>Type</th>
                {% for key, value in moyennesSemestres %}                
                    <th>{{key}}</th>                 
                {% endfor %}
            </thead>
            <tbody>
                <tr>
                    <td>Travail Journalier</td>
                    {% for key, value in  moyennesSemestres %}
                        <td>{{value|number_format(2)}} %</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

         <div class="row d-flex justify-content-center">                     
            <button id="detailsSemCham" class="btn btn-info" onclick="$('#detailsSemComp').collapse('hide')" data-toggle="collapse" data-target="#detailsChampSem" aria-expanded="false" aria-controls="detailsChampSem" style="font-size: 0.7em;">Détails des champs </button>    
        </div>
        <br>
        <div class="row d-flex justify-content-center">                     
            <button id="detailsCompSem" class="btn btn-info" onclick="$('#detailsChampSem').collapse('hide')" data-toggle="collapse" data-target="#detailsSemComp" aria-expanded="false" aria-controls="detailsSemComp" style="font-size: 0.7em;">Détails des compétences </button>    
        </div>
        <br>
        <div id="detailsChampSem" class="collapse">  
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Champs</th>
                      
                        {% for key, value in moyennesChampSem %}
                            {% if loop.first %}
                                {% for cle, valeur in value %}
                                    <th>{{cle}}</th>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for key, value in moyennesChampSem %}
                            <tr>
                            <td>{{key}}</td>
                                {% for cle, valeur in value %}               
                                    <td>{{valeur|number_format(2)}} %</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
        <div id="detailsSemComp" class="collapse">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Compétences</th>
                      
                        {% for key, value in moyennesCompetencesSem %}
                            {% if loop.first %}
                                {% for cle, valeur in value %}
                                    <th>{{cle}}</th>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for key, value in moyennesCompetencesSem %}
                            <tr>
                            <td>{{key}}</td>
                                {% for cle, valeur in value %}               
                                    <td>{{valeur|number_format(2)}} %</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>      
</div>      
<div class="jumbotron my-4">
    <h5 class="display-7" style="text-align: center">Changez le groupe: </h3>
    <div class="row d-flex justify-content-center">
        <select name="groups" id="groups" class="custom-select col-md-6" onchange="window.location.href=this.value">
            <option value="#"></option>
            {% for key, value in groups %}
                <optgroup label="{{value.ecole}}">
                    <option value="{{path('cahier_cotes', {group: value.groups_id})}}">{{value.groupes}}</option>
                </optgroup>
            {% endfor %}
        </select>
    </div>
</div> 
{% endblock %}