{% extends 'base.html.twig' %}
{% block title %} -Paramètres {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/CSS/scripts/editable.css">
{% endblock %}
{% block scripts %}
    <script src="/JS/scripts/editable.js"></script>
    <script>
        $(document).ready(function(){
            $('#ponderation span').editable({
                'emptytext' : "Le champ le peut pas être vide",
                validate: function(value) {
                    if($.trim(value) == '') {
                        return 'Le champ ne peut pas être vide';
                    }
                    if($.trim(value) > 100 || $.trim(value) < 0){
                        return "Veuillez spécifier le pourcentage"
                    }
                },
                error: function(response, newValue) {
                    if(response.status != 200) {
                        return "Veuillez respecter l'annotation de base";
                    } else {
                        return response.responseText;
                    }
                },
                success: function(response, newValue){
                    switch(this.id){
                        case 'evaluation': 
                            $('#cours').html(100-newValue);
                        break;
                        case 'cours': 
                            $('#evaluation').html(100-newValue);
                    }
                }
            });
            $('#appreciations span').editable({
                'emptytext' : "Le champ le peut pas être vide",
                validate: function(value) {
                    if($.trim(value) == '') {
                        return 'Le champ ne peut pas être vide';
                    }
                },
                error: function(response, newValue) {
                    if(response.status != 200) {
                        return "Veuillez respecter l'annotation de base";
                    } else {
                        return response.responseText;
                    }
                },
            });

            $('#parametres span').editable({
                'emptytext' : "Le champ le peut pas être vide",
                validate: function(value) {
                    if($.trim(value) == '') {
                        return 'Le champ ne peut pas être vide';
                    }
                },
                error: function(response, newValue) {
                    if(response.status != 200) {
                        return "Veuillez respecter l'annotation de base";
                    } else {
                        return response.responseText;
                    }
                },
            });
        });
    </script>
{% endblock %}

{% block header %}
<header class="jumbotron my-4">
    <h1 class="display-3" style="text-align: center">Paramètres</h1>
    <h3 class="display-8" style="text-align: center">{{ecole.nomEcole}}</h3>
</header>
{% endblock %}

{% block container %}
    <div class="jumbotron" style="font-size: 1.3em;">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% if ponderation is empty %}
            <div class="row">               
                <p>Vous n'avez pas crée de pondération désormais la pondération entre les cours et les évaluations est de 50-50, si vous desirez modifier cette pondération cliquez ici ! </p>
            </div>
            <div class="row d-flex justify-content-center">
                <a href="{{path('creation_ponderation', {ecole: ecole.id})}}" class="btn btn-primary">Créez la pondération</a>
            </div>
        {% else %}
            <div class="row d-flex justify-content-center">
                <div class="col-md-5">
                    <div class="row d-flex justify-content-center">
                        <h3 class="display-8">
                            Pondération cours-evaluation
                        </h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm" id="ponderation">
                            <thead>
                                <tr>
                                    <th class="text-center">Cours</th>
                                    <th class="text-center">Evaluation</th>
                                </tr>                        
                            </thead>
                            <tbody style="text-align: center">
                                <tr>
                                    <td><span id="cours" data-pk="{{ponderation.id}}" data-url="{{path('modif_ponderation')}}" data-name="cours">{{ponderation.cours}}</span> %</td>
                                    <td><span id="evaluation" data-pk="{{ponderation.id}}" data-url="{{path('modif_ponderation')}}" data-name="evaluation">{{ponderation.evaluation}}</span> % </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>    
        {% endif %}
        <br>
        {% if appreciation is empty %}
            <div class="row">
                <p>Vous n'avez pas créé d'appréciations, désormais vous ne pouvez pas appliquer les appréciations dans le cahier de cotes !</p>                
            </div>
            <div class="row d-flex justify-content-center">
                <a href="{{path('creation_appreciations', {ecole: ecole.id})}}" class="btn btn-primary">Créez vos appréciations</a>
            </div>
            <br>
        {% else %}
            <br>
            <div class="row d-flex justify-content-center">
                <div class="col-md-5">
                    <div class="row d-flex justify-content-center">
                        <h3 class="display-8">
                            Appréciations
                        </h3>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-sm" id="appreciations">
                            <thead>
                                <tr>
                                    <th class="text-center">Appréciation</th>
                                    <th>Cote</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in appreciation|sort((a, b) => a.cote <=> b.cote) %}
                                    <tr>
                                        <td class="text-center"><span data-pk="{{value.id}}" data-url="{{path('modif_appreciation')}}" data-name="intitule">{{value.intitule}}</span></td>
                                        <td><span data-pk="{{value.id}}" data-url="{{path('modif_appreciation')}}" data-name="cote">{{value.cote}}</span>/10</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="row d-flex justify-content-center">
                    <h3 class="display-8">
                        Paramètrage d'affichage du cahier de cotes
                    </h3>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-sm" id="parametres">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Appréciation</th>
                                <th>Sur combien</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in parametres %}
                                <tr>
                                    <td>{{value.type}}</td>
                                    {% if appreciation != null and value.appreciation == 1 %}
                                        <td class="text-center">
                                            <input type="checkbox" name="appreciation" id="appreciation" checked>
                                        </td>
                                    {% elseif appreciation != null and value.appreciation == 0 %}   
                                        <td class="text-center">
                                            <input type="checkbox" class="form-check-input" name="appreciation" id="appreciation">
                                        </td> 
                                    {% else %} 
                                        <td class="text-center">
                                            <input type="checkbox" class="form-check-input" name="appreciation" id="appreciation" disabled>
                                        </td> 
                                    {% endif %}
                                    {% if value.appreciation == 1 %}
                                        <td class="text-center">{{value.surCombien}}</td>
                                    {% else %}    
                                        <td class="text-center">
                                            <span data-pk="{{value.id}}" data-url="{{path('modif_surCombien')}}" data-name="modifSurCombien">{{value.surCombien}}</span>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>              
{% endblock %}