{% extends 'admin/base.html.twig' %}
{% block title %} -Modification de {{user.nomUser}} {% endblock %}
{% block header %}
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Modification de {{user.nomUser}}</h1>
    </header>
{% endblock %}
{% block container %}
    <div class="row row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="jumbotron text-center" style="font-size: 1.3em;">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}  
                {{ form_start(form) }}
                    <div class="form-group">
                    </div>
                {{ form_end(form) }}
            </div>
        </div>    
    </div>
{% endblock %}