{% extends 'admin/base.html.twig' %}

{% block title %} Administration des comptes {% endblock %}

{% block header %}
    <header class="jumbotron my-4">
        <h1 class="display-3" style="text-align: center">Gestion des comptes</h1>
    </header>
{% endblock %}


{% block container %}
    <div class="jumbotron">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Nom user</th>
                    <th>Mail</th>
                    <th>Sexe</th>
                    <th>Data Naissance</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for key, value in users %}
                    {% set dateNaissance = date(value.dateNaiss) %}
                        <tr>
                            <td>{{value.id}}</td>
                            <td>{{value.nom}}</td>
                            <td>{{value.prenom}}</td>
                            <td>{{value.nomUser}}</td>
                            <td>{{value.mail}}</td>
                            <td>{{value.sexe}}</td>
                            <td>{{dateNaissance | date('d-m-Y')}}</td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                <a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}